---
tailscale_auth_key: ""
tailscale_login_server: ""
tailscale_login_timeout: 30s

tailscale_statedir: "/var/lib/tailscale"
tailscale_state: "{{ tailscale_statedir }}/tailscaled.state"
tailscale_socket: "/run/tailscale/tailscaled.sock"
tailscale_logs: false
tailscale_args: >-
  {% if not tailscale_logs %}
  --no-logs-no-support
  {% endif %}
  --state={{ tailscale_state }}
  --socket={{ tailscale_socket }}
